/.idea
/.vscode
/.project
.svn
# 排除 pyc 文件
*.pyc
# 排除 __pycache__ 目录
/supervisord.conf
/settings.py
/uwsgi.xml
/.coverage
/diff.txt
std_error.txt
statistics_*.txt
/*/migrations/*
/htmlcov
/media/**
/log/**
/static/*
/tmp
.DS_Store
/cy_migrations
dbchange.sql
.reviewboardrc
coverage-local.sh
nohup.out
dump.rdb

sqlite3.db
sqlite3.db-local
.pylintrc

/.cache

/scripts/uwsgi/master.fifo

/scripts/uwsgi/touch_reload_uwsgi
/scripts/uwsgi/touch_reopen_log

# sass编译缓存
.sass-cache

# node模块
node_modules

# bower模块
bower_components

.http_cache
/test_coverage_result


/_gearoll/
/_frontend/static_src/_libs/plux-ui/
/_plux-ui/
/_frontend/static_src/**
/_frontend/static/**
/_frontend/templates/dist/**
!/_frontend/templates/dist/README.md
/templates/v2/**
/templates/pc/**
/templates/vue/**
/run

.scannerwork
sonar-project.properties
.coverage
/coverage
templates/sitemap/
/rpc_server.py
/dist
*.egg-info/
local
/external_data/**/*.ttf
/external_data/**/*.ttc
.python-version
